.nav{
    background-color: white;
    padding: 0 2rem;
    color: #AE1332;
    height: 3.125rem;
    display: flex;
    align-items: center;

}


.nav-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.nav__items{
    display: flex;
    gap: 1.25rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.nav__logo{
    width: 9.75rem;
    justify-self: center;
}

.nav__logo-img{
    padding-bottom: 11.538461538461538%;
}

.nav__basket{
    width: 1.2rem;
    justify-self: end;
}

.nav__basket-img{
    padding-bottom: 124.95982860203534%;
}